name: Actions

on: [push, pull_request]

concurrency:
  group: wordle-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build my project 
    runs-on: ubuntu-latest
    env:
      UNITY_SERIAL: ""
    steps:
      # Checkout
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true

      # Cache
      - uses: actions/cache@v4
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-

      # Validate required secrets
      - name: Validate Unity secrets
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        run: |
          missing=()

          [ -z "$UNITY_LICENSE" ] && missing+=("UNITY_LICENSE")

          if [ ${#missing[@]} -gt 0 ]; then
            echo "::error title=Missing required GitHub secrets::Please set ${missing[*]} in repository secrets."
            exit 1
          fi

      # Test
      - name: Run tests
        uses: game-ci/unity-test-runner@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}

      # Build
      - name: Build project
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          targetPlatform: WebGL

      # Output
      - uses: actions/upload-artifact@v4
        with:
          name: Build
          path: build
          if-no-files-found: error